@mixin botones($color) {
    background-color: $color;
    border: none;
    padding: 10px;
    border-radius: 05px;
  }
  
  .boton {
    @include botones(red);
    color: #fff;
  }
  
  .boton-primario {
    @include botones(blue);
    color: #fff;
  }
  
  .boton-secundario {
    @include botones(#333);
    color: #fff;
  }
  %boton-default {
    border: none;
    padding: 10px;
    border-radius: 05px;
  }
  
  .boton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 05px;
  }
  
  .boton-primario {
    @extend .boton;
    background-color: blue;
  }
  
  .boton-secundario {
    @extend %boton-default;
  }
$estilos: (
  colorPrimario: #e34529,
  colorSecundario: #9ecc1f,
  colorTextoClaro: #fff,
  colorTextoOscuro: #222,
  paddingDefault: 10px,
  borderRadius: 05px
);
  
  .boton-primario {
    background-color: map-get($estilos, colorPrimario);
    color: map-get($estilos, colorTextoClaro);
    padding: map-get($estilos, paddingDefault);
}

*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

header {
    .navbar {
        padding: 0px;
    }
    
    .navbar-brand {
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #ccc !important;
        
    }
    
    .nav-item {
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 50px;
    }
    
    .nav-link {
        color: #fff !important;
        letter-spacing: 2px;
        font-size: 1em;
        font-weight: 700;
        
    }
    
    .nav-link:hover {
        background: rgb(255, 255, 255);
        color: #262626 !important;
        border-radius: 5px;
        transition: all 0.6s ease 0s;
        
    }

}


.main {
    position: relative;
    background: url(../images/posibleFondo5.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
    /* background-color: rgba(21, 20, 51, 0.8); */
    z-index: 1;
    /* background-attachment: fixed; */
    
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.414);
    }
    
    h2 {
        font-size: 2.6em;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

    p {
        margin-top: 1em;
        padding: 0;
        font-size: 16px;
        color: rgb(255, 255, 255);
        padding-bottom: 25px;
    }

    .readMore {
        background: #2d923e;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
    }

}

.logo {
    width: 100px;
    height: 100px;
}
.botonVerde {
    width: 150px;
}

.bloque {
    background-color: #ffffff3d;
    padding: 0px;
}

@media (max-width: 999px) {
    .desplazar{
        margin-top: 50px;
    }
    .nav-link:hover {
        color: #262626 !important;
        background: none;
    }
}
